## Pandas Practice

#### Pandas チートシート超便利！！

https://qiita.com/tanemaki/items/2ed05e258ef4c9e6caac

#### pandas.DataFrame の「列の抽出（射影）方法」および「行の抽出（選択）方法」について

https://akiyoko.hatenablog.jp/entry/2017/04/03/081630#1-1

In [14]:
import pandas as pd
from sklearn.datasets import load_iris
 
#アヤメのデータの詳細を出力 DESCR = describe(記述)
data = load_iris()

In [15]:
# アヤメのデータ（説明変数）を X に格納する
X = pd.DataFrame(data=data.data,columns=data.feature_names)
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [16]:
# アヤメのデータ（目的変数）を y に格納する
y = pd.DataFrame(data=data.target)
y = y.rename(columns={0: 'Species'})
y.head()

   Species
0        0
1        0
2        0
3        0
4        0

In [17]:
# Xとyを連結させる
# (参考) http://sinhrks.hatenablog.com/entry/2015/01/28/073327
# 横方向に連結したい場合は axis=1 を指定
df = pd.concat([X, y], axis=1)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

### display(df.loc[1:3]) と display(df.iloc[1:3]) が同じ結果にならない

### この問題に対し、iris data setで検証してみる

In [18]:
# locのテスト

loc_test = df.loc[1:3]
loc_test

# 行(インデックス)は1〜3を指定
# 列(カラム)は指定していないため全部表示される

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0

In [19]:
# ilocのテスト

iloc_test = df.iloc[1:3]
iloc_test

# 行(インデックス)は1〜2(3番目の1つ手前)が表示？
# 列(カラム)は指定していないため全部表示される

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0

In [20]:
# ilocはpythonのリスト機能をベースにしている？
# それに対しlocは行番号の1〜3を抜き出している?

numbers = [100, 200, 300, 400, 500]

print(numbers[0])

print(numbers[1:3])

print(numbers[-1])

100
[200, 300]
500